*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	display: block;
	height: auto;
}

button {
	border: none;
	outline: none;
	padding: 20px 30px;
}
